@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 1440px) {
    .landing-text {
        font-size: 24rem;
    }
}

@media only screen and (min-width: 1441px) {
    .landing-text {
        font-size: 30rem;
    }
}

.nav-link:after {
    display: block;
    content: "";
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav-link-selected {
    display: block;
    content: "";
    border-bottom: solid 3px black;
    transform: scaleX(1);
    transition: transform 250ms ease-in-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
}
