@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 1440px) {
    .landing-text {
        font-size: 24rem;
    }
}

@media only screen and (min-width: 1441px) {
    .landing-text {
        font-size: 30rem;
    }
}

.nav-link:after {
    display: block;
    content: "";
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav-link-selected {
    display: block;
    content: "";
    border-bottom: solid 3px black;
    transform: scaleX(1);
    transition: transform 250ms ease-in-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
}

:root {
    --color-background: #faf4ee;
    --color-lightShape: #70b5ad;
    --color-accent: #ff8a47;
    --color-complement: #fa625c;
    --color-textGradientStart: #fbb03b;
    --color-textGradientEnd: #f7196a;
}

* {
    transition: background-color 0.5s ease, border-color 0.5s ease,
        color 0.5s ease, fill 0.5s ease, stroke 0.5s ease;
}
